// neutrals
$WHITE: #fff;
$BLACK: #0f1419;

$BORDER_COMPONENT: #ebeef0;
$BORDER_OUTLINE: #d8dfe4;
$GREY_125: hsl(208, 5%, 48%);
$GREY_513: hsl(208, 18%, 44%);
$DARK_GREY: #090c11;

$ERROR_STATE: #d92e5a;
$SUCCESS_STATE: #25bd87;
