// neutrals
$WHITE: #fff;
$BLACK: #0f1419;

$BORDER_COMPONENT: #ebeef0;
$BORDER_OUTLINE: #d8dfe4;
$GREY_125: #727183;
$GREY_513: #5b7083;
$DARK_GREY: #090c11;

$ERROR_STATE: #d92e5a;
$SUCCESS_STATE: #25bd87;
